<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= link_to task.title, task_path(task.id) %></h2>
      <p><%= task.completed %></p>
      <h3><%= link_to "Delete_Task", task_path(task.id), method: :delete %></h3>
    </li>
    <% end %>
 </ul>

<hr>

<%= link_to "Add a new task", new_task_path %>





